
<hr>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center">
          <%= footer_content('fa fa-github fa-stack-1x fa-inverse', 'https://github.com/zehpavora')   %>
        </ul>

        <p class="copyright text-muted"><%= t('pages.footer.copyright') %></p>
      </div>
    </div>
  </div>
</footer>
